<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdz.servermall.mapper.AdsRebackGoodsMapper">

    <resultMap type="AdsRebackGoods" id="AdsRebackGoodsResult">
                    <result property="id" column="id"/>
                    <result property="rebackId" column="reback_id"/>
                    <result property="goodsId" column="goods_id"/>
                    <result property="goodsName" column="goods_name"/>
                    <result property="goodsNum" column="goods_num"/>
                    <result property="price" column="price"/>
                    <result property="merchantId" column="merchant_id"/>
                    <result property="merchantName" column="merchant_name"/>
                    <result property="createTime" column="create_time"/>
                    <result property="createId" column="create_id"/>
                    <result property="creater" column="creater"/>
                    <result property="updateTime" column="update_time"/>
                    <result property="updater" column="updater"/>
                    <result property="deleted" column="deleted"/>
            </resultMap>

    <sql id="selectAdsRebackGoodsVo">
        select id, reback_id, goods_id, goods_name, goods_num, price, merchant_id, merchant_name, create_time, create_id, creater, update_time, updater, deleted        from ads_reback_goods
    </sql>

    <select id="selectAdsRebackGoodsList" parameterType="AdsRebackGoods" resultMap="AdsRebackGoodsResult">
        <include refid="selectAdsRebackGoodsVo"/>
        <where>
                            <if test="id != null  and id != '' ">and id = #{id}
                </if>
                            <if test="rebackId != null  and rebackId != '' ">and reback_id = #{rebackId}
                </if>
                            <if test="goodsId != null  and goodsId != '' ">and goods_id = #{goodsId}
                </if>
                            <if test="goodsName != null  and goodsName != '' ">and goods_name = #{goodsName}
                </if>
                            <if test="goodsNum != null ">and goods_num = #{goodsNum}
                </if>
                            <if test="price != null ">and price = #{price}
                </if>
                            <if test="merchantId != null  and merchantId != '' ">and merchant_id = #{merchantId}
                </if>
                            <if test="merchantName != null  and merchantName != '' ">and merchant_name = #{merchantName}
                </if>
                            <if test="createTime != null ">and create_time = #{createTime}
                </if>
                            <if test="createId != null  and createId != '' ">and create_id = #{createId}
                </if>
                            <if test="creater != null  and creater != '' ">and creater = #{creater}
                </if>
                            <if test="updateTime != null ">and update_time = #{updateTime}
                </if>
                            <if test="updater != null  and updater != '' ">and updater = #{updater}
                </if>
                            <if test="deleted != null ">and deleted = #{deleted}
                </if>
                    </where>
    </select>

    <select id="selectAdsRebackGoodsTotal" parameterType="AdsRebackGoods" resultType="Integer">
        select COUNT(*) from ads_reback_goods
        <where>
                            <if test="id != null  and id != '' ">and id = #{id}
                </if>
                            <if test="rebackId != null  and rebackId != '' ">and reback_id = #{rebackId}
                </if>
                            <if test="goodsId != null  and goodsId != '' ">and goods_id = #{goodsId}
                </if>
                            <if test="goodsName != null  and goodsName != '' ">and goods_name = #{goodsName}
                </if>
                            <if test="goodsNum != null ">and goods_num = #{goodsNum}
                </if>
                            <if test="price != null ">and price = #{price}
                </if>
                            <if test="merchantId != null  and merchantId != '' ">and merchant_id = #{merchantId}
                </if>
                            <if test="merchantName != null  and merchantName != '' ">and merchant_name = #{merchantName}
                </if>
                            <if test="createTime != null ">and create_time = #{createTime}
                </if>
                            <if test="createId != null  and createId != '' ">and create_id = #{createId}
                </if>
                            <if test="creater != null  and creater != '' ">and creater = #{creater}
                </if>
                            <if test="updateTime != null ">and update_time = #{updateTime}
                </if>
                            <if test="updater != null  and updater != '' ">and updater = #{updater}
                </if>
                            <if test="deleted != null ">and deleted = #{deleted}
                </if>
                    </where>
    </select>

    <select id="selectAdsRebackGoodsByReback" parameterType="AdsRebackGoods" resultMap="AdsRebackGoodsResult">
        <include refid="selectAdsRebackGoodsVo"/>
        <where>
            <if test="id != null  and id != '' ">and id = #{id}
            </if>
            <if test="rebackId != null  and rebackId != '' ">and reback_id = #{rebackId}
            </if>
            <if test="goodsId != null  and goodsId != '' ">and goods_id = #{goodsId}
            </if>
            <if test="goodsName != null  and goodsName != '' ">and goods_name = #{goodsName}
            </if>
            <if test="merchantId != null  and merchantId != '' ">and merchant_id = #{merchantId}
            </if>
            <if test="merchantName != null  and merchantName != '' ">and merchant_name = #{merchantName}
            </if>

        </where>
    </select>

    <insert id="insertAdsRebackGoods" parameterType="AdsRebackGoods">
        insert into ads_reback_goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
                                                <if test="id != null  and id != ''  ">id,
                    </if>
                                                                <if test="rebackId != null  and rebackId != ''  ">reback_id,
                    </if>
                                                                <if test="goodsId != null  and goodsId != ''  ">goods_id,
                    </if>
                                                                <if test="goodsName != null  and goodsName != ''  ">goods_name,
                    </if>
                                                                <if test="goodsNum != null  ">goods_num,
                    </if>
                                                                <if test="price != null  ">price,
                    </if>
                                                                <if test="merchantId != null  and merchantId != ''  ">merchant_id,
                    </if>
                                                                <if test="merchantName != null  and merchantName != ''  ">merchant_name,
                    </if>
                                                                <if test="createTime != null  ">create_time,
                    </if>
                                                                <if test="createId != null  and createId != ''  ">create_id,
                    </if>
                                                                <if test="creater != null  and creater != ''  ">creater,
                    </if>
                                                                <if test="updateTime != null  ">update_time,
                    </if>
                                                                <if test="updater != null  and updater != ''  ">updater,
                    </if>
                                                                <if test="deleted != null  ">deleted,
                    </if>
                                    </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                                                <if test="id != null  and id != ''  ">#{id},
                    </if>
                                                                <if test="rebackId != null  and rebackId != ''  ">#{rebackId},
                    </if>
                                                                <if test="goodsId != null  and goodsId != ''  ">#{goodsId},
                    </if>
                                                                <if test="goodsName != null  and goodsName != ''  ">#{goodsName},
                    </if>
                                                                <if test="goodsNum != null  ">#{goodsNum},
                    </if>
                                                                <if test="price != null  ">#{price},
                    </if>
                                                                <if test="merchantId != null  and merchantId != ''  ">#{merchantId},
                    </if>
                                                                <if test="merchantName != null  and merchantName != ''  ">#{merchantName},
                    </if>
                                                                <if test="createTime != null  ">#{createTime},
                    </if>
                                                                <if test="createId != null  and createId != ''  ">#{createId},
                    </if>
                                                                <if test="creater != null  and creater != ''  ">#{creater},
                    </if>
                                                                <if test="updateTime != null  ">#{updateTime},
                    </if>
                                                                <if test="updater != null  and updater != ''  ">#{updater},
                    </if>
                                                                <if test="deleted != null  ">#{deleted},
                    </if>
                                    </trim>
    </insert>

    <update id="updateAdsRebackGoods" parameterType="AdsRebackGoods">
        update ads_reback_goods
        <trim prefix="SET" suffixOverrides=",">
                                                                            <if test="rebackId != null  and rebackId != ''  ">reback_id = #{rebackId},
                    </if>
                                                                <if test="goodsId != null  and goodsId != ''  ">goods_id = #{goodsId},
                    </if>
                                                                <if test="goodsName != null  and goodsName != ''  ">goods_name = #{goodsName},
                    </if>
                                                                <if test="goodsNum != null  ">goods_num = #{goodsNum},
                    </if>
                                                                <if test="price != null  ">price = #{price},
                    </if>
                                                                <if test="merchantId != null  and merchantId != ''  ">merchant_id = #{merchantId},
                    </if>
                                                                <if test="merchantName != null  and merchantName != ''  ">merchant_name = #{merchantName},
                    </if>
                                                                <if test="createTime != null  ">create_time = #{createTime},
                    </if>
                                                                <if test="createId != null  and createId != ''  ">create_id = #{createId},
                    </if>
                                                                <if test="creater != null  and creater != ''  ">creater = #{creater},
                    </if>
                                                                <if test="updateTime != null  ">update_time = #{updateTime},
                    </if>
                                                                <if test="updater != null  and updater != ''  ">updater = #{updater},
                    </if>
                                                                <if test="deleted != null  ">deleted = #{deleted},
                    </if>
                                    </trim>
        where id = #{id}
    </update>

    <delete id="deleteAdsRebackGoodsById" parameterType="String">
        delete from ads_reback_goods where id = #{id}
    </delete>

    <delete id="deleteAdsRebackGoodsByIds" parameterType="String">
        delete from ads_reback_goods where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>